In [1]:
import pandas as pd
import numpy as np

# 字典转dataframe

In [2]:
df = pd.DataFrame([dic]) #注意有中括号

NameError: name 'dic' is not defined

## Dataframe转csv

In [ ]:
df.to_csv('')

## list转dataframe

#### Python中将列表转换成为数据框有两种情况： 
#### 第一种：两个不同列表转换成为数据框

In [ ]:
a=[1,2,3,4]
b=[5,6,7,8]
c={"a" : a,
   "b" : b}  #将列表a，b转换成字典
data=pd.DataFrame(c) #将字典转换成为数据框
print(data)

#### 第二种：将包含不同子列表的列表转换为数据框

In [ ]:
a=[[1,2,3,4],[5,6,7,8]]  #包含两个不同的子列表[1,2,3,4]和[5,6,7,8]
data=pd.DataFrame(a)    #这时候是以行为标准写入的
print(data)

**注意上面的dataframe的排列方式,要想纵向排列，转置一下即可**  
转置之后得到想要的结果

In [ ]:
data=data.T#转置之后得到想要的结果
data.rename(columns={0:'a',1:'b'},inplace=True)  #注意这里0和1都不是字符串
print(data)

## DataFrame转为list

In [ ]:
df.values.tolist()
np.array(df).tolist() # 先转换成ndarray

## dataframe选取某列

In [ ]:
data = pd.DataFrame(np.arange(16).reshape(4,4),index=list('abcd'),columns=list('wxyz'))
data

#### 取一列

In [ ]:
data['w']  #选择表格中的'w'列，使用类字典属性,返回的是Series类型

In [ ]:
data.w    #选择表格中的'w'列，使用点属性,返回的是Series类型

In [ ]:
data[['w']]  #选择表格中的'w'列，返回的是DataFrame类型

#### 如果列名没有定义/不知道列名

In [ ]:
data.iloc[:,0]

#### 取两列

In [ ]:
data[['w','z']]  #选择表格中的'w'、'z'列

 ####  取一行

In [ ]:
data[1:2]   #返回第2行，从0计，返回的是单行，通过有前后值的索引形式，
            #如果采用data[1]则报错

In [ ]:
data.iloc[1] #返回第2行，返回的是series，

#### 取两行

In [ ]:
data[0:2]

In [ ]:
data['a':'b']  #利用index值进行切片，返回的是**前闭后闭**的DataFrame, 
               #即末端是包含的

In [ ]:
data.loc['a',['w','x']]   #返回‘a’行'w'、'x'列，这种用于选取行索引列索引已知

### 选取特定列的值所在的多行

![avatar](https://img-blog.csdn.net/20180516092837684?watermark/2/text/aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L2h0YmVrZXI=/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70)
![avatar](https://img-blog.csdn.net/20180516092847382?watermark/2/text/aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L2h0YmVrZXI=/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70)
![avatar](https://img-blog.csdn.net/20180516092857828?watermark/2/text/aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L2h0YmVrZXI=/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70)

### loc,iloc的区别

loc：通过选取行（列）标签索引数据  
iloc：通过选取行（列）位置编号索引数据   
ix：既可以通过行（列）标签索引数据，也可以通过行（列）位置编号索引数据  
**为了避免用户在使用这三种方法时产生混淆，从pandas 0.20.0版本开始，官方不推荐使用.ix方法，而是使用.iloc 和.loc方法**

### 命名dataframe的列

In [ ]:
df.columns = ['a','b']
df

In [ ]:
#重命名
df.rename(columns = {'a':'A'},inplace = True)
df

In [ ]:
# 创建一个空的数据集带列名
df = pd.DataFrame(columns = ['S', 'F'])
df

## 删除/ 过滤某个范围的值

In [4]:
data = {
       '证券名称' : ['格力电器','视觉中国','成都银行','中国联通','格力电器','视觉中国','成都银行','中国联通'],
       '摘要': ['证券买入','证券买入','证券买入','证券买入','证券卖出','证券卖出','证券卖出','证券卖出'],
       '成交数量' : [500,1000,1500,2000,500,500,1000,1500],
       '成交金额' : [-5000,-10000,-15000,-20000,5500,5500,11000,15000]
    }
    
df = pd.DataFrame(data,index = ['2018-2-1','2018-2-1','2018-2-1','2018-2-1','2018-2-2','2018-2-2',
                                   '2018-2-2','2018-2-3'])
df

          证券名称    摘要  成交数量   成交金额
2018-2-1  格力电器  证券买入   500  -5000
2018-2-1  视觉中国  证券买入  1000 -10000
2018-2-1  成都银行  证券买入  1500 -15000
2018-2-1  中国联通  证券买入  2000 -20000
2018-2-2  格力电器  证券卖出   500   5500
2018-2-2  视觉中国  证券卖出   500   5500
2018-2-2  成都银行  证券卖出  1000  11000
2018-2-3  中国联通  证券卖出  1500  15000

### 删除具体列

In [ ]:
df.drop('成交数量',axis=1)

### 删除具体行

In [ ]:
df.drop('2018-2-3')

### 删除特定数值的行（删除成交金额小于10000)

In [ ]:
df[ df['成交金额'] > 10000]

In [ ]:
df[df['成交金额'].isin([11000])]

In [ ]:
#有时候我们需要去掉不止一个值，这个时候只需要在isin([]）的列表中添加
df[(True^df['成交金额'].isin([5500,15000]))]

### 删除某列包含特殊字符的行

In [ ]:
df[ ~ df['证券名称'].str.contains('联通') ] # ～是取反的意思, 如果要包含的话就不要这个取反的符号

### 判断df为空

In [ ]:
df.empty

### 判断list为空

In [ ]:
len(a) == 0

## 缺失值与空值的处理

In [5]:
index = ['0', '1', '2', '3', '4', '5']
columns = ['A', 'B', 'C']
df = pd.DataFrame(np.random.randn(6,3), index= index, columns = columns)
df.iloc[1:2,2] = np.nan
df.iloc[3,0:2] = np.nan
df.iloc[4,1] = np.nan
df.iloc[5,:] = np.nan
df

          A         B         C
0 -0.214239 -0.042713 -1.612415
1  0.595272 -1.232434       NaN
2 -1.568153  0.212066 -0.419861
3       NaN       NaN -0.165620
4  1.429946       NaN  0.912839
5       NaN       NaN       NaN

### 查看缺失值的情况

In [ ]:
df.isnull() #返回的是True和False
df.isnull().any() #看每列是否有缺失值
df.isnull().any(1) #看每行是否有缺失值

### 缺失数据删除

DataFrame.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
函数作用：删除含有空值的行或列  

axis:维度，axis=0表示index行,axis=1表示columns列，默认为0  

how:"all"表示这一行或列中的元素全部缺失（为nan）才删除这一行或列，"any"表示这一行或列中只要有元素缺失，就删除这一行或列  

thresh: 行非缺失值至少为thresh个。  

subset：在某些列的子集中选择出现了缺失值的列删除，不在子集中的含有缺失值得列或行不会删除（有axis决定是行还是列）  

inplace：刷选过缺失值得新数据是存为副本还是直接在原数据上进行修改。

In [ ]:
df.dropna(how = 'all') #删除全为缺失值的行或列
df.dropna(how = 'any') #删除只要有缺失值的行或列

In [ ]:
df.dropna(thresh = 3)

In [ ]:
df.dropna(subset = [0]) #过滤第一列为缺失值的情况
df.dropna(subset = [0，2])

### 填充缺失数据

DataFrame.fillna(value=None, method=None, axis=None, inplace=False, limit=None, downcast=None, **kwargs)  



value:需要用什么值去填充缺失值  

axis:确定填充维度，从行开始或是从列开始  

method：ffill:用缺失值前面的一个值代替缺失值，如果axis =1，那么就是横向的前面的值替换后面的缺失值，如果axis=0，那么则是上面的值替换下面的缺失值。backfill/bfill，缺失值后面的一个值代替前面的缺失值。注意这个参数不能与value同时出现  

limit:确定填充的个数，如果limit=2，则只填充两个缺失值。

#### 不同的列填充不同常数

In [ ]:
df.fillna({1:3,2:5}) #第二列缺失值填充为3,第三列缺失值填充为5

#### 向前/向后填充

In [ ]:
df.fillna(axis=1,method='ffill') #横向用缺失值前面的值替换缺失值 
df.fillna(axis=0,method='ffill') #纵向用缺失值上面的值替换缺失值

#### 均值填充

In [ ]:
df.fillna(df.mean())

### 查找缺失值所在的位置

In [ ]:
df['A'].count() # A列不为空值的个数
len(df) #df的行数
df.shape[0] #df的行数
df['A'].isnull().values == True #A列哪些位置是空值，返回True/False

In [48]:
for c in df.columns:
    if df[c].count() != len(df):
        loc = df[c][df[c].isnull().values == True].index.tolist()
        print('缺失值位于',c, '列',loc)

缺失值位于 A 列 ['3', '5']
缺失值位于 B 列 ['3', '4', '5']
缺失值位于 C 列 ['1', '5']

#### 利用np.where

In [23]:
i = df.index[np.where(np.isnan(df))[0]].values # 出现空值的行，每出现一个空值都会显示所在的行
c = df.columns[np.where(np.isnan(df))[1]].values # 出现空值的列
l = [i,c]
location = pd.DataFrame(l)
location #每一列代表一个坐标 （1，C）有空值

   0  1  2  3  4  5  6
0  1  3  3  4  5  5  5
1  C  A  B  B  A  B  C

## 重复行的处理

### 检测重复值，如果有重复值就去掉重复值

In [24]:
dup = df.duplicated()
dup = dup.values.tolist()
count = dup.count(True)
print(count) # if count >1 , means have duplicated value
if count > 1:
    df_drop = df.drop_duplicates()

0

## groupby 使用

### groupby获得分组里面最大值所在的行
#### 先排好序，然后每组取第一个

In [2]:
df = f.sort_values(by = 'strdate', ascending=False).groupby('name', as_index=False).first() #max day

NameError: name 'f' is not defined

### groupby还有其他的功能，详见[用Python开始的数据分析——分组groupby（1)](https://zhuanlan.zhihu.com/p/29371291)

## 参考链接

[jupyter code和markdown转换](https://blog.csdn.net/qq_35423500/article/details/79565146)  
[jupyter maekdown 语法](http://xianbai.me/learn-md/index.html)  
[Pandas将列表（List）转换为数据框（Dataframe）](https://blog.csdn.net/claroja/article/details/64439735)    
[pandas获取指定的列和行](https://blog.csdn.net/weixin_38859557/article/details/80977643)  
[pandas中根据列的值选取多行数据](https://blog.csdn.net/htbeker/article/details/80332360)  
[Pandas删除数据的几种情况](https://www.cnblogs.com/cocowool/p/8421997.html)  
[pandas如何去掉、过滤数据集中的某些值或者某些行](https://blog.csdn.net/qq_22238533/article/details/76127966)  
[缺失数据处理](https://zhuanlan.zhihu.com/p/42210666)  
[pandas 缺失值与空值处理](https://blog.csdn.net/lwgkzl/article/details/80948548)  
[Pandas查找缺失值的位置，并返回缺失值行号以及列号](https://blog.csdn.net/u010924297/article/details/80060229)  
[如何找到NaN、缺失值或者某些元素的索引名称以及位置，np.where的使用](https://blog.csdn.net/AlanGuoo/article/details/77198503)
[pandas获取groupby分组里最大值所在的行](https://blog.csdn.net/Mappy93/article/details/79319506)  
[用Python开始的数据分析——分组groupby（1)](https://zhuanlan.zhihu.com/p/29371291)